@charset "UTF-8";

.nav__menu{
    position: -webkit-sticky;
    position: sticky;
    border-top: 4px solid $orange;
    top:0;
    background-color: #fff;
    .wrap{
        display: flex;
    }
    box-shadow: 0 3px 9px rgba(0,0,0,0.2);
}
.nav__logo__anchor{
    display: block;
    height:40px;
    padding-top: 7px;
}
.nav__menu__list{
    display: flex;
    margin-left: 40px;
}
.nav__menu__item{
    
}

.nav__menu__anchor{
    display: block;
    margin: 0 24px;
    height: 40px;
    line-height: 40px;
}
