@charset "UTF-8";

.header{
    border-bottom: 1px solid $orange;
}
.nav__menu__list{
    display: flex;
    justify-content: center;
}
.nav__menu__anchor{
    display: block;
    height: 40px;
    line-height: 40px;;
    margin: 0 15px;
}